<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Test Hash</title>
   </head>
   <body>
      <main>
         <section class="container">
            <div class="content">
               <div class="content-form">
                  <h1>Simule sua Antecipação</h1>
                  <form action="">
                     <span class="form-label">Informe o valor da venda *</span><br>
                     <input type="text" name="sales" id="space" placeholder="R$ 1.000,00"><br>
                     <span class="form-label">Em quantas parcelas *</span><br>
                     <input type="text" name="sales"><br>
                     <span id="about-input">Máximo de 12 parcelas</span><br>
                     <span class="form-label">Informe o percentual de MDR *</span><br>
                     <input type="text" name="sales" id="space"><br>
                  
                  </form>
               </div>
               <div class="content-results">
                  <div class="box-results">
                     <p>VOCÊ RECEBERÁ:</p>
                     <P>Amanhã: R$ 0,00</P>
                     <P>Em 15 dias: R$ 0,00</P>
                     <P>Amanhã: R$ 0,00</P>
                     <P>Amanhã: R$ 0,00</P>
                  </div>
               </div>
            </div>
         </section>
      </main>
   </body>
</html>